/* DOM */
body{
	background:#000000;
}

/* Actors */


/* JiveMax Objects */

.scene{
	width:670px;
	height:668px;
	overflow:hidden;
}

.container{
	width:670px;
	margin:0 auto;
	position:relative;
	display:none;
}

.stage{
	width:670px;
	height:710px;
	overflow:hidden;
	position:absolute;
	background:#ebd09d;
}

.scrubber{
	height:20px;
	width:50px;
	background:#d8a034;
	position:absolute;
	cursor:pointer;

	-webkit-transition: background .5s;
	transition: background .5s;

}

.scrubber:hover{
	background:white;
}

.scrub_bar{
	height:20px;
	width:600px;
	background:#3e4e1e;
	display:inline-block;
	position:relative;
}

.progress_bar{
	height:20px;
	width:600px;
	background:#3d4d1e;
	position:absolute;
}

.fill_bar{
	height:20px;
	width:600px;
	background:#b4852b;
	position:absolute;	
}

.controls{
	width:670px;
	height:42px;
	background:black;
	position:absolute;
	opacity:0;
}

.play_btn{
	width:30px;
	height:30px;
	padding:10px 20px 10px 10px;
	display:inline-block;
	position:relative;
}

.play_btn .active{
	display:block;
	-webkit-transition: color .5s;
	transition: color .5s;
}

.play_btn .active:hover{
	color:white;
}

.play_btn .inactive{
	display:none;
}

.fa {
	color:#d8a034;
	font-size:30px;
	margin:0px;
}