$stage: #111111;
$header: white;
$copy: rgb(200,200,200);
$orange:#d8a034;
$hover:white;
$umber:#b4852b;
$white:white;
$drkgrey:#222222;
$scene:#888888;
$module:#999999;
$disabled:#444444;
$lghtgrey:#777777;
