$stack-lato:'Lato', sans-serif;
$stack-robot:'Roboto',sans-serif;

$font-default:400 16px $stack-lato;

$stage-header1:900 32px $stack-robot;
$stage-header2:900 22px $stack-robot;
$stage-body:400 16px $stack-robot;
